# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Secrets / signing
*.p8
*.p12
*.mobileprovision
*.cer
Secrets.xcconfig
.env

# Tooling
*.log

# Xcode project workspace state
Senku.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
*.xcworkspace/xcuserdata/
